@{
    ViewBag.Title = "Home Page";
}

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Surname</th>
            <th>Address</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="user in users">
            <td>{{user.Id}}</td>
            <td>{{user.Name}}</td>
            <td>{{user.Surename}}</td>
            <td>{{user.Address}}</td>
        </tr>
    </tbody>
</table>

<div ng-repeat=>
   {{ user.Name }}
    a
</div>

